.mosaicTiles-canvasContainer {
  position: relative;
  top: -480px;
}

.mosaicSelector-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.mosaicSelector-button-default {
  display: flex;
  flex-direction: row;
  align-items: center;
  filter: grayscale(100%); 
}

.mosaicSelector-button-hilite {
  display: flex;
  flex-direction: row;
  align-items: center;
  filter: saturate(2); 
}
